{% macro email_settings %}
<h2>Mail-Settings:</h2>
<h3>IMAP4:</h3>
<p>Mail-Server: {{ crate::MAIL_DOMAIN }}</p>
<p>Port: 993</p>
<p>Security: SSL/TLS</p>
<p>Password-Type: Normal-Password</p>
<p>Username: Your full email-address</p>
<p>Password: Your email-password</p>
<br>
<h3>SMTP:</h3>
<p>Mail-Server: {{ crate::MAIL_DOMAIN }}</p>
<p>Port: 465</p>
<p>Security: SSL/TLS</p>
<p>Username: Your full email-address</p>
<p>Password-Type: Normal/Unencrypted Password</p>
<p>Password: Your email-password</p>
<br>
<h3>POP3:</h3>
<p>Mail-Server: {{ crate::MAIL_DOMAIN }}</p>
<p>Port: 995</p>
<p>Security: SSL/TLS</p>
<p>Password-Type: Normal-Password</p>
<p>Username: Your full email-address</p>
<p>Password: Your email-password</p>
{% endmacro %}