{% extends "authenticated/domain_base.html" %}
{% import "parts/authenticated/domain_header.html" as domain_header %}

{% block domain_content %}
{% call domain_header::header(domain, Some(permissions)) %}
<h2>Manage Domain:</h2>
{% if permissions.admin() || permissions.view_domain() %}
<form method="POST" action="/api/admin/{{domain}}/accepts_email">
    <input type="hidden" name="_method" value="PUT" />
    <label>Accepts Email: <input type="checkbox" name="accepts_email" {% if permissions.domain_accepts_email() %} checked {% endif %} {% if !permissions.admin() && !permissions.modify_domain()%} disabled {% endif %}/></label>
    <input type="submit" value="Update Accepts Email" {% if !permissions.admin() && !permissions.modify_domain()%} disabled {% endif %}/>
</form>
{% endif %}
{% if let Some(rename) = rename %}
<form method="POST" action="/api/admin/{{domain}}/name">
    <input type="hidden" name="_method" value="PUT" />
    <label>New Name:<a><input type="text" name="name" value="{{rename.self_name}}"/>.{{rename.super_name}}</a></label>
    <input type="submit" value="Rename Domain"/>
</form>
{% endif %}
{% if permissions.is_owner() %}
<h2>Change Owner:</h2>
{% if !accounts.is_empty() %}
<form action="/api/admin/{{domain}}/owner" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <select name="owner">
        {% for account in accounts.iter() %}
            <option value="{{account.id}}" {% if account.true_owner %} selected {% endif %}>{{account.email}}@{{account.domain}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Change Owner"/>
</form>
{% else %}
<p>Cannot change Ownership, because there are no other visible Accounts to transfer Ownership to.</p>
{% endif %}
{% endif %}
{% if let Some(dkim) = dkim %}
<h2>Dkim Keys:</h2>
<table>
    <tr>
        <th>selector</th>
        <th>dns name</th>
        <th>dns value</th>
        <th>active</th>
    </tr>
{% for key in dkim %}
<tr>
    <td>{{ key.selector }}</td>
    <td>{{ key.to_dns_name() }}</td>
    <td><code class="dns-value">
    {% match key.to_dns_value() %}
    {% when Ok(public_key) %}
        {{public_key}}
    {% when Err(err) %}
    {% endmatch %}
    </code></td>
    <td><form><input type="checkbox" {% if key.active %} checked {% endif %} name="{{ key.selector }}" disabled/></form></td>
</tr>

{% endfor %}
</table>
{% endif %}

{% endblock %}

